body {
}

#registrationPage{
    margin-top : 6%;
    border : 1px solid #d5d5d5;
    background-color : #fcfcfc; 
    margin-bottom : 6%;
}
#example{
    border : 1px solid #e5e5e5;
    margin-top : 2%;
}

#myCarousel{
    margin-top : 0.1%;
}

#indexMain{
    border-right : 1px solid #d8d8d8;
    border-left : 1px solid #d8d8d8;
}

#PatientProfile{
    margin-top : 6%;
    border : 1px solid #d5d5d5;
    background-color : #fcfcfc; 
}

